@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Upload Image";
}

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label>Upload a File</label>
        </dt>
        <dd>
            <input id="fileUpload" name="fileUpload" type="file"/>
        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload" />
</form>
